.container {
  margin: 1rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;

  .radio-box {
    height: 4rem;
    border: 1px solid #d7d7d7;
    border-radius: 0.25rem;
    display:flex;
    align-items:center;
    justify-content:center;
    background-color: transparent;
    transition: border-color 0.2s;


    img {
        width:20px;
        height:20px
    }

    span {
        display:inline-block;
        margin-left: 1rem;
        font-size:1rem;
        color:var(--text-title);
    }

    &.activeDeposit {
      background: rgba($color: #33CC95, $alpha: 0.1);
    }

    &.activeWithdraw {
      background: rgba($color: #E52E4D, $alpha: 0.1);

    }
  }
}
